{{ define "main" }}
<!-- Encabezado de sección -->
<section class="content-section">
    <div class="text">
        <h1>{{ .Title }}</h1>
        {{ .Content }}
    </div>
</section>


<!-- Listado de sub-áreas -->
{{ range .Pages.ByWeight.ByDate }}
<a href="{{ .RelPermalink }}" class="area-card-link">
    <section class="content-section area-card">
        <div class="text">
            <h2 style="text-align:center;">{{ .Title }}</h2>
            <p>{{ .Summary }}</p>
        </div>
    </section>
</a>

{{ end }}
{{ end }}