/* area-card-link  */
.area-card {
  background-color: rgba(231, 238, 252, 0.6);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  padding: 2rem;
  margin: 2rem auto;
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

/* Hover effect for the entire card */
.area-card-link:hover .area-card {
  transform: translateY(-8px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
}

/* Títulos y párrafos */
.area-card .text h2 {
  margin-top: 0;
  margin-bottom: 0.75rem;
  font-size: 1.5rem;
}

.area-card .text p {
  margin: 0;
  line-height: 1.6;
  text-align: justify;
  text-justify: inter-word;
}