/* ================================================ */
/* Color variables                                  */
/* ================================================ */
:root {
  /* for components like navbar */
  --primary-color: #06537d;
  --hover-color: #7a7a7a;      
  --navbar-bg: rgba(255, 255, 255, 0.6);
  --dropdown-bg: rgba(255, 255, 255, 0.8);
  --white: #ffffff;
  --link-hover-bg: rgba(155, 89, 182, 0.1);
  --bg-blur: 10px;
  --max-width: 1200px;
  --border-radius: 1rem;
  --shadow: 0 8px 16px rgba(0, 0, 0, 0.1);

  /* Custom project colors */
  --text-color: #252A34;
  --heading-color: #F41928;
  --accent-color: #078DD6;
  --tertiary-color: #e6bb00;
  --paragraph-color: #555;
  --list-color: #444;
  --blockquote-bg: #EAEAEA;
  --link-color: #FF2E63;
  --main-shadow: 0 8px 24px rgba(0, 0, 0, 0.07);
}

/* ================================================ */
/* Global Styles                                    */
/* ================================================ */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: var(--text-color);
  background-color: #cecece;
}

/* ================================================ */
/* Main Content                                     */
/* ================================================ */
main {
  max-width: var(--max-width);
  margin: 0 auto;
  background: var(--white);
  padding: 2rem 2.5rem;
  border-radius: var(--border-radius);
  box-shadow: var(--main-shadow);
  color: var(--text-color);
  margin-bottom: 4rem;
}

/* ================================================ */
/* Headers                                          */
/* ================================================ */
main h1{
  margin-bottom: 1.5rem;
  color: var(--heading-color);
}
main h2 {
  color: var(--accent-color);
}
main h3 {
  font-weight: 700;
  color: var(--accent-color);
  margin-bottom: 1rem;
}

main h1 {
  font-size: 3rem;
  border-bottom: 2px solid var(--accent-color);
  padding-bottom: 0.5rem;
  text-align: left;
  padding-left: 2rem;
  padding-right: 2rem;
}

main h2 {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

main h3 {
  color: var(--tertiary-color);
  font-size: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* ================================================ */
/* Paragraphs                                       */
/* ================================================ */
main p {
  font-size: 1.125rem;
  line-height: 1.8;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: justify;
  color: var(--paragraph-color);
  max-width: var(--max-width);
  padding-left: 1rem;
  padding-right: 1rem;
}

.content-section .text {
  max-width: var(--max-width);
  margin: 0 auto;
}


/* ================================================ */
/* Lists                                            */
/* ================================================ */
main ul,
main ol {
  margin-left: 2rem;
  margin-bottom: 1.5rem;
  color: var(--list-color);
  font-size: 1.1rem;
}

main li {
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

/* ================================================ */
/* Blockquotes                                      */
/* ================================================ */
main blockquote {
  border-left: 4px solid var(--accent-color);
  background-color: var(--blockquote-bg);
  color: var(--accent-color);
  padding: 1rem 1.5rem;
  margin: 2rem 0;
  font-style: italic;
  border-radius: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

/* Links */
main a {
  color: var(--link-color);
  text-decoration: none;
  font-weight: 600;
}

main a:hover {
  text-decoration: underline;
  background-color: var(--link-hover-bg);
}

/* Images */
main img {
  max-width: 100%;
  border-radius: var(--border-radius);
  box-shadow: 0 8px 20px rgba(200, 16, 46, 0.15);
  margin: 0 auto;
  padding: 1rem;
  display: block;
}

/* ================================================ */
/* Hero Section                                     */
/* ================================================ */
.hero-section {
  position: relative;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 3rem;
  margin-bottom: 3rem auto;
  max-width: var(--max-width);

}

.hero-bg {
  position: absolute;

  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  filter: blur(4px) brightness(0.8);
  border-radius: 1.5rem;
}

.hero-content {
  position: relative;
  z-index: 1;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(8px);
  padding: 1rem;
  padding-left: 2;
  border-radius: 1.5rem;
  min-width: 325px;
  max-width: 900px;
  text-align: center;
}

.hero-title {
  font-size: 2.4rem;
  color: var(--heading-color);
  font-weight: 700;
  margin-bottom: 1rem;
}

.hero-text {
  font-size: 1.2rem;
  color: #333;
  text-justify: inter-word;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .hero-content {
    margin: 1rem;
  }
}

/* ================================================ */
/* 1. Desktop: 50% Image / 50% Text Sections       */
/* 2. Mobile: Image Above Text                    */
/* ============================================= */
@media (min-width: 769px) {
  main > section.content-section {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  main > section.content-section .text,
  main > section.content-section .media {
    width:90%;
    flex: 1 1 50%;
  }

  main > section.content-section .media img {
    width:100%;
    height: auto;
    display: block;
    border-radius: var(--border-radius);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  }
}
/* ======================== */
@media (max-width: 768px) {
  main > section.content-section {
    display: flex;
    flex-direction: column-reverse;
  }
  
  main > section.content-section .media {
    order: -1;
  }
  
  main > section.content-section .text {
    order: 0;
  }
}
