<!-- layouts/partials/footer.html -->
<footer class="site-footer">
  <div class="footer-sections">
    <a href="{{ "/FAD-WebPage/" | relURL }}">Inicio</a>
    <p><!-- ignore space--></p>
    <a href="{{ "/FAD-WebPage/entrevistas/" | relURL }}">Entrevistas</a>
    <p><!-- ignore space--></p>
    <a href="{{ "/FAD-WebPage/videos/" | relURL }}">Videos</a>
    <p><!-- ignore space--></p>
    <a href="{{ "/FAD-WebPage/areas/" | relURL }}">Áreas de profundización</a>
    <a href="{{ "/FAD-WebPage/areas/edicion-grafica/" | relURL }}">Edición Gráfica</a>
    <a href="{{ "/FAD-WebPage/areas/iconicidad-y-entornos/" | relURL }}">Iconicidad y Entornos</a>
    <a href="{{ "/FAD-WebPage/areas/grafica-e-ilustracion/" | relURL }}">Gráfica e Ilustración</a>
    <a href="{{ "/FAD-WebPage/areas/medios-audiovisuales-e-hipermedia/" | relURL }}">Medios Audiovisuales e Hipermedia</a>
  </div>

  <div class="footer-logos">
    <img src="{{ "images/footers/footer1.webp" | relURL }}" alt="Logo 1">
    <img src="{{ "images/footers/footer2.webp" | relURL }}" alt="Logo 2">
    <img src="{{ "images/footers/footer3.webp" | relURL }}" alt="Logo 3">
    <img src="{{ "images/footers/footer4.webp" | relURL }}" alt="Logo 4">
    <img src="{{ "images/footers/footer5.webp" | relURL }}" alt="Logo 5">
    <img src="{{ "images/footers/footer6.webp" | relURL }}" alt="Logo 6">
  </div>

  <div class="footer-copy">
    &copy; J 2025 
  </div>
</footer>
