{{ define "main" }}

<section class="hero-section">
  <img class="hero-bg" src="/images/background.jpeg" alt="Imagen de fondo">
  <div class="hero-content">
    <h1 class="hero-title">Licenciatura en Diseño y Comunicación Visual</h1>
    <p class="hero-text">
      Es aquí donde convergen el arte, la tecnología y el pensamiento crítico para construir mensajes que inspiran,
      educan e impactan de manera significativa en la sociedad.
    </p>
  </div>
</section>

<section class="content-section">
  <div class="text">
    <h3 style="text-align: center; color: #088ccd;"><em>"No sólo se trata de crear imágenes atractivas, <br>sino de
        desarrollar soluciones
        visuales con<br>impacto cultural, social y simbólico."</em></h3>
    <hr>
    <p>
      A lo largo de la licenciatura, los estudiantes no solo adquieren habilidades técnicas en dibujo, diseño
      digital, fotografía,
      edición, animación, video y medios interactivos, sino que también se enfrentan a preguntas fundamentales
      sobre la función del diseño en el mundo contemporáneo.
    </p>
    <p>
      Aprenden a cuestionar y desafiar las normas establecidas, a pensar de manera crítica y a desarrollar una
      voz única en su trabajo.
    </p>
  </div>
  <div class="media">
    <img src="/images/placeholder.svg" alt="Imagen izquierda">
  </div>
</section>

<section class="content-section">
  <div class="text">
    <h2 style="color: #F9A01B;">Aprendizaje a tu medida</h2>
    <p>
      El diseño no es un campo estático ni cerrado. Es una disciplina en constante evolución que se nutre de la
      tecnología, la cultura, la comunicación, el arte y las ciencias sociales.
    </p>
    <p>
      Por ello, la licenciatura ha sido organizada en <strong>cuatro áreas de profundización</strong>, pensadas
      para que cada
      estudiante pueda explorar su potencial único y enfocar su formación según sus intereses, habilidades y
      proyecciones profesionales.
    </p>
    <p>
      Estas áreas permiten un <strong>aprendizaje especializado</strong> y al mismo tiempo
      <strong>flexible</strong>, promoviendo tanto el
      desarrollo de competencias técnicas específicas como la interconexión entre disciplinas. Esta estructura
      fomenta una visión integral del diseño, donde cada área contribuye a un conocimiento más amplio y sólido, y
      donde se valora la colaboración entre distintas formas de pensamiento y producción visual.
    </p>
  </div>
  <div class="media">
    <img src="/images/placeholder.svg" alt="Imagen izquierda">
  </div>
</section>

<section class="content-section">
  <div class="text">
    <h2 style="color: #F9A01B;">Personaliza tu trayectoria académica</h2>
    <p>
      Los estudiantes profundizan en campos que les apasionen, adquiriendo herramientas para destacarse en entornos
      profesionales diversos como en:
    </p>
    <ul>
      <li>Diseño gráfico y editorial</li>
      <li>Animación y medios audiovisuales</li>
      <li>Experiencia interactiva</li>
      <li>Ilustración</li>
      <li>Identidad visual</li>
    </ul>
  </div>
  <div class="media">
    <img src="/images/placeholder.svg" alt="Imagen ilustrativa">
  </div>
</section>


<section class="content-section">
  <div class="text">
    <p><em>
        En conjunto, esta licenciatura forma diseñadores y comunicadores visuales que no solo dominan los lenguajes de
        la
        imagen y la tecnología, sino que también comprenden su papel como agentes de cambio en un mundo que exige
        creatividad, conciencia y visión crítica.
      </em></p>
  </div>
</section>
{{ end }}