{{ define "main" }}
<section class="test-container">
  <!-- Título heredado de frontmatter -->
  <h1>{{ .Title }}</h1>
  {{ .Content }}
  <form name="orientationTest" id="orientationTest">
    <fieldset>
      <legend>
        <h2>1. ¿Qué tipo de proyecto te entusiasma desarrollar?</h2>
      </legend>
      <label><input type="radio" name="q1" value="edicion"> Diseñar libros o revistas</label><br>
      <label><input type="radio" name="q1" value="ilustracion"> Crear personajes ilustrados</label><br>
      <label><input type="radio" name="q1" value="iconicidad"> Diseñar identidades gráficas y señaléticas</label><br>
      <label><input type="radio" name="q1" value="hipermedia"> Editar videos, grabar cortometrajes o hacer
        animaciones</label>
    </fieldset>

    <fieldset>
      <legend>
        <h2>2. ¿Qué herramienta disfrutas utilizar?</h2>
      </legend>
      <label><input type="radio" name="q2" value="edicion"> InDesign</label><br>
      <label><input type="radio" name="q2" value="ilustracion"> Técnicas análogas, Procreate, Photoshop e
        Illustrator</label><br>
      <label><input type="radio" name="q2" value="iconicidad"> Illustrator, Blender o SketchUp</label><br>
      <label><input type="radio" name="q2" value="hipermedia"> After Effects o Premiere Pro</label>
    </fieldset>

    <fieldset>
      <legend>
        <h2>3. ¿Cuál de estas frases describe mejor tu estilo de trabajo?</h2>
      </legend>
      <label><input type="radio" name="q3" value="edicion"> Me gusta estructurar la información de forma clara, ser
        organizado y mantener estructura.</label><br>
      <label><input type="radio" name="q3" value="ilustracion"> Libre y expresivo, priorizo la creatividad</label><br>
      <label><input type="radio" name="q3" value="iconicidad"> Estratégico, me interesa resolver problemas espaciales y
        de identidad</label><br>
      <label><input type="radio" name="q3" value="hipermedia"> Dinámico, me gusta integrar la tecnología</label>
    </fieldset>

    <fieldset>
      <legend>
        <h2>4. ¿Qué tipo de contenido sueles consumir en tu tiempo libre?</h2>
      </legend>
      <label><input type="radio" name="q4" value="edicion"> Revistas, blogs y libros sobre diversos temas.</label><br>
      <label><input type="radio" name="q4" value="ilustracion"> Cómics, viñetas, mangas, videos tutoriales o cuentas de
        fotógrafos e ilustradores en redes.</label><br>
      <label><input type="radio" name="q4" value="iconicidad"> Fotografía e imágenes de arquitectura, diseño de
        interiores, exposiciones o proyectos de branding innovador.</label><br>
      <label><input type="radio" name="q4" value="hipermedia"> Videojuegos, cine, anime o series animadas</label>
    </fieldset>

    <fieldset>
      <legend>
        <h2>5. Si tuvieras que elegir un proyecto final, ¿cuál sería?</h2>
      </legend>
      <label><input type="radio" name="q5" value="edicion"> Portadas de libros, un catálogo o una revista.</label><br>
      <label><input type="radio" name="q5" value="ilustracion"> Un libro infantil, un cómic o un mural sobre algún tema
        de tu interés.</label><br>
      <label><input type="radio" name="q5" value="iconicidad"> La identidad visual de una marca, el ícono de una app o
        el diseño de un envase.</label><br>
      <label><input type="radio" name="q5" value="hipermedia"> Un documental, un video musical, cortometraje o una
        animación</label>
    </fieldset>

    <fieldset>
      <legend>
        <h2>6. ¿Qué te motiva más al crear?</h2>
      </legend>
      <label><input type="radio" name="q6" value="edicion"> La claridad, la organización y la armonía
        visual.</label><br>
      <label><input type="radio" name="q6" value="ilustracion"> Expresar emociones visualmente.</label><br>
      <label><input type="radio" name="q6" value="iconicidad"> Resolver problemas espaciales o diseñar gráficos
        funcionales.</label><br>
      <label><input type="radio" name="q6" value="hipermedia"> Usar tecnologías innovadoras y medios digitales</label>
    </fieldset>

    <fieldset>
      <legend>
        <h2>7. ¿En qué proyectos preferirías trabajar?</h2>
      </legend>
      <label><input type="radio" name="q7" value="edicion"> Proyectos editoriales o de comunicación impresa.</label><br>
      <label><input type="radio" name="q7" value="ilustracion"> Proyectos artísticos o campañas con componentes
        visuales.</label><br>
      <label><input type="radio" name="q7" value="iconicidad"> Diseño de identidad y señalética.</label><br>
      <label><input type="radio" name="q7" value="hipermedia"> Producciones audiovisuales, animación o experiencias
        interactivas.</label>
    </fieldset>

    <fieldset>
      <legend>
        <h2>8. ¿Qué asignatura has disfrutado más?</h2>
      </legend>
      <label><input type="radio" name="q8" value="edicion"> Tipografía.</label><br>
      <label><input type="radio" name="q8" value="ilustracion"> Dibujo.</label><br>
      <label><input type="radio" name="q8" value="iconicidad"> Diseño integrador.</label><br>
      <label><input type="radio" name="q8" value="hipermedia"> Recursos tecnológicos para el diseño.</label>
    </fieldset>

    <fieldset>
      <legend>
        <h2>9. ¿Cómo te defines en equipo?</h2>
      </legend>
      <label><input type="radio" name="q9" value="edicion"> Metódico y organizado.</label><br>
      <label><input type="radio" name="q9" value="ilustracion"> Creativo, con un estilo único y gran
        imaginación.</label><br>
      <label><input type="radio" name="q9" value="iconicidad"> Analítico.</label><br>
      <label><input type="radio" name="q9" value="hipermedia"> Innovador.</label>
    </fieldset>

    <fieldset>
      <legend>
        <h2>10. ¿En qué industria te gustaría trabajar?</h2>
      </legend>
      <label><input type="radio" name="q10" value="edicion"> Editoriales o agencias de diseño gráfico.</label><br>
      <label><input type="radio" name="q10" value="ilustracion"> Estudios de ilustración o arte conceptual.</label><br>
      <label><input type="radio" name="q10" value="iconicidad"> Empresas de branding o diseño de
        experiencias.</label><br>
      <label><input type="radio" name="q10" value="hipermedia"> Productoras audiovisuales o estudios
        cinematográficos</label>
    </fieldset>

    <fieldset>
      <legend>
        <h2>11. ¿Qué frase te identifica?</h2>
      </legend>
      <label><input type="radio" name="q11" value="edicion"> "Todo está en los detalles".</label><br>
      <label><input type="radio" name="q11" value="ilustracion"> "Cada trazo cuenta una historia".</label><br>
      <label><input type="radio" name="q11" value="iconicidad"> "El diseño debe funcionar en su contexto".</label><br>
      <label><input type="radio" name="q11" value="hipermedia"> "El futuro está en la tecnología".</label>
    </fieldset>

    <fieldset>
      <legend>
        <h2>12. ¿Qué taller extracurricular elegirías?</h2>
      </legend>
      <label><input type="radio" name="q12" value="edicion"> Encuadernación.</label><br>
      <label><input type="radio" name="q12" value="ilustracion"> Diseño de sketchbook.</label><br>
      <label><input type="radio" name="q12" value="iconicidad"> Diseño de un stand creativo.</label><br>
      <label><input type="radio" name="q12" value="hipermedia"> Creación de videojuegos</label>
    </fieldset>

    <fieldset>
      <legend>
        <h2>13. ¿Qué es lo que más te frustra al diseñar?</h2>
      </legend>
      <label><input type="radio" name="q13" value="edicion"> Errores en la jerarquía visual.</label><br>
      <label><input type="radio" name="q13" value="ilustracion"> Limitaciones para expresar tu estilo
        personal.</label><br>
      <label><input type="radio" name="q13" value="iconicidad"> Proyectos que ignoran el contexto o renuncian a la
        funcionalidad.</label><br>
      <label><input type="radio" name="q13" value="hipermedia"> Limitaciones de recursos tecnológicos</label>
    </fieldset>

    <fieldset>
      <legend>
        <h2>14. Elige un referente profesional:</h2>
      </legend>
      <label><input type="radio" name="q14" value="edicion"> Paula Scher (diseño editorial y branding).</label><br>
      <label><input type="radio" name="q14" value="ilustracion"> Hayao Miyazaki (arte narrativo e
        ilustración).</label><br>
      <label><input type="radio" name="q14" value="iconicidad"> Stefan Sagmeister (diseño experimental en
        espacios).</label><br>
      <label><input type="radio" name="q14" value="hipermedia"> Chris Milk (narrativa interactiva y realidad
        virtual).</label>
    </fieldset>

    <fieldset>
      <legend>
        <h2>15. ¿Qué habilidad deseas fortalecer?</h2>
      </legend>
      <label><input type="radio" name="q15" value="edicion"> Diagramación.</label><br>
      <label><input type="radio" name="q15" value="ilustracion"> Técnicas de ilustración análoga y digital.</label><br>
      <label><input type="radio" name="q15" value="iconicidad"> Diseño de sistemas de identidad.</label><br>
      <label><input type="radio" name="q15" value="hipermedia"> Edición de video o animación 3D.</label>
    </fieldset>

    <fieldset>
      <legend>
        <h2>16. ¿Qué aspectos destacan en tus proyectos?</h2>
      </legend>
      <label><input type="radio" name="q16" value="edicion"> Claridad visual y manejo de retículas.</label><br>
      <label><input type="radio" name="q16" value="ilustracion"> Originalidad y calidad artística.</label><br>
      <label><input type="radio" name="q16" value="iconicidad"> Coherencia.</label><br>
      <label><input type="radio" name="q16" value="hipermedia"> Uso innovador de recursos tecnológicos</label>
    </fieldset>

    <fieldset>
      <legend>
        <h2>17. ¿Cómo abordas un problema de diseño?</h2>
      </legend>
      <label><input type="radio" name="q17" value="edicion"> Analizando la estructura visual.</label><br>
      <label><input type="radio" name="q17" value="ilustracion"> Bocetando ideas hasta encontrar un estilo
        impactante.</label><br>
      <label><input type="radio" name="q17" value="iconicidad"> Investigando el contexto y las necesidades del
        usuario.</label><br>
      <label><input type="radio" name="q17" value="hipermedia"> Experimentando con formatos audiovisuales o
        interactivos</label>
    </fieldset>

    <fieldset>
      <legend>
        <h2>18. ¿Qué te atrae de un proyecto?</h2>
      </legend>
      <label><input type="radio" name="q18" value="edicion"> Retos técnicos de composición.</label><br>
      <label><input type="radio" name="q18" value="ilustracion"> Libertad para explorar técnicas gráficas.</label><br>
      <label><input type="radio" name="q18" value="iconicidad"> Oportunidad de crear soluciones para marcas.</label><br>
      <label><input type="radio" name="q18" value="hipermedia"> Integrar sonido, movimiento y tecnología.</label>
    </fieldset>

    <fieldset>
      <legend>
        <h2>19. ¿Qué frase te inspira?</h2>
      </legend>
      <label><input type="radio" name="q19" value="edicion"> "El diseño es donde la ciencia y el arte se
        equilibran".</label><br>
      <label><input type="radio" name="q19" value="ilustracion"> "El arte borra las fronteras entre lo real y lo
        imaginario".</label><br>
      <label><input type="radio" name="q19" value="iconicidad"> "El buen diseño es invisible; solo se nota cuando
        falta".</label><br>
      <label><input type="radio" name="q19" value="hipermedia"> "La innovación une creatividad y tecnología".</label>
    </fieldset>

    <fieldset>
      <legend>
        <h2>20. Elige el color que más te guste</h2>
      </legend>
      <label><input type="radio" name="q20" value="edicion"> Blanco</label><br>
      <label><input type="radio" name="q20" value="ilustracion"> Amarillo</label><br>
      <label><input type="radio" name="q20" value="iconicidad"> Morado</label><br>
      <label><input type="radio" name="q20" value="hipermedia"> Azul</label>
    </fieldset>
  </form>
  <div class="progress-container">
    <div class="progress-bar" id="progressBar"></div>
  </div>
  <!-- Contenedor del resultado -->
  <div id="result" class="hidden"></div>
</section>
{{ end }}